<header class="taskbar window">
  <body onload="startTime()"></body>
  <button class="start-button">
    <img src='https://win98icons.alexmeub.com/icons/png/windows-4.png' />
    <span>
      Start
    </span>
  </button>

  <span class="tray-area">
    <hr class="vertical-separator" />
    <span class="well">
      <img src="https://win98icons.alexmeub.com/icons/png/msg_information-2.png" />
      <img src="https://win98icons.alexmeub.com/icons/png/network_cool_two_pcs-4.png" />
      <img src="https://win98icons.alexmeub.com/icons/png/outlook_express-3.png" />
      <img src="https://win98icons.alexmeub.com/icons/png/printer-4.png" />
      <span>
        <div id="txt"></div>
      </span>
    </span>
  </span>
</header>

<script>
  function startTime() {
    const today = new Date();
    let h = today.getHours();
    let m = today.getMinutes();
    let s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
    setTimeout(startTime, 1000);
  }
  
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
  </script>